#header {
  color: rgb(11, 26, 11);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.header-front-page {
  width: 90vw;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 100px;
  font-size: clamp(30px, 4vw, 40px);
  padding: 2vw 5vw 0px;
  color: var(--website-accent-2);
  font-family: var(--sub-title);
}

#home-pricing {
  width: 100%;
  background-color: #57886cb3;
  padding: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-pricing-header {
  font-size: 30px;
  font-family: var(--sub-title);
  color: var(--website-accent-2);
  margin-right: 15px;
}

#home-pricing-button {
  color: white;
  font-family: var(--sub-title);
  font-size: 25px;
  margin: 5px;
  margin-top: -1px;
}

#home-pricing-button button {
  padding: 10px 15px;
}

#home-pricing-button:hover button {
  border-color: white;
  background-color: #3e6a51;
}

#roadmap {
  background-color: #f1f1f1;
  color: var(--website-accent-2);
  padding: 100px;
}

.roadmap-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  background-color: var(--website-accent-2);
  padding: 10px;
}

.roadmap-text {
  margin: 15px;
}

.roadmap-p {
  font-size: 18px;
  text-align: justify;
}

#home-review {
  width: 100%;
  background-color: var(--website-theme);
  padding: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-review-header {
  font-size: 30px;
  font-family: var(--sub-title);
  color: var(--website-accent-2);
  margin-right: 15px;
}

#home-review-button {
  color: white;
  font-family: var(--sub-title);
  font-size: 25px;
  margin: 5px;
  margin-top: -1px;
}

#home-review-button button {
  padding: 10px 15px;
}

#home-review-button:hover button {
  border-color: white;
  background-color: #3e6a51;
}

#home-about {
  padding: 100px;
  color: white;
  background-color: var(--website-accent-2);
}

#home-about-img {
  width: 380px;
  height: 400px;
  object-fit: cover;
  border-radius: 30%;
}

#home-about-header {
  width: 300px;
  float: right;
  margin: 20px;
}

#home-about-button {
  background-color: var(--website-theme);
  font-size: 18px;
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}

#home-about-button a {
  color: white;
}

#home-about-button:hover {
  border-color: white;
  background-color: #3e6a51;
}

#logo-gallery {
  background-color: #f1f1f1;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-gallery-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
}

#logos-grid {
  column-gap: 15px;
  row-gap: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.logo-overlay {
  background-color: #1f271b78;
  color: white;
  position: relative;
  top: -200px;
  height: 200px;
  margin-bottom: -200px;
  font-size: 30px;
  text-align: center;
  display: none;
}

.logo-item:hover {
  cursor: pointer;
}

.logo-gallery-img:hover ~ .logo-overlay {
  display: block;
}
