#logos {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 770px) {
  #logos {
    padding: 100px 40px;
  }
}

@media (max-width: 490px) {
  .website-page-p {
    margin: 20px 0px;
  }
}
