@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

#root {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  font-family: "DM Serif Display", serif;
  color: #f4fdff;
  --website-theme: #57886c;
  --website-accent: white;
  --website-accent-2: #1f271b;
  --website-accent-3: #1b291d;
}

/* Navbar */
#navbar {
  font-size: 25px;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100vw;
  height: 64px;
  background-color: var(--website-theme);
  box-shadow: #1b291d42 0px 3px;
}

#navbar a {
  color: white;
}

.nav-links {
  height: 64px;
  width: auto;
  text-align: center;
  padding: 10px 15px 5px;
}

.nav-links:hover {
  background-color: var(--website-accent-2);
  cursor: pointer;
}

.links-container {
  width: 40vw;
  display: flex;
}

#nav-hamburger {
  display: none;
  background-color: white;
  width: 100vw;
  padding: 3vw;
  top: 0px;
}

#nav-hamburger:hover {
  cursor: pointer;
}

#hamburger-dropdown {
  background-color: var(--website-theme);
  width: 100vw;
  position: absolute;
  top: 10vw;
  box-shadow: #1b291d42 0px 3px;
  animation: slidedown 0.8s;
  display: none;
}

#email-me-nav {
  position: absolute;
  top: 20px;
  left: 73vw;
  font-size: 17px;
  color: var(--website-accent-2);
}

@keyframes slidedown {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

#hamburger-dropdown a {
  color: white;
}

#hamburger-dropdown ul {
  margin-top: 15px;
  list-style: none;
}

#hamburger-dropdown li {
  width: 15vw;
  padding: 1vw;
}

#hamburger-dropdown li:hover {
  background-color: var(--website-accent-2);
}

#top-left-logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

#top-left-logo:hover {
  cursor: pointer;
}

/* Footer */
.footer-links {
  color: white;
}

.footer-links:hover {
  text-decoration: underline;
  color: white;
}

#footer {
  position: static;
  background-color: var(--website-theme);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 200px;
}

.footer-columns p {
  font-size: 20px;
}

/* Header */
#header {
  color: rgb(11, 26, 11);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

/* Text */
.time-stamp {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.telling-your-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  min-width: 330px;
  text-align: center;
}

/* Photos */
#white-logo {
  width: 100%;
  padding: 60px;
}

#natalie-headshot {
  aspect-ratio: 1/1;
  width: 25vw;
  min-width: 250px;
  border-radius: 50%;
  object-fit: cover;
  padding: 30px;
  margin-top: -230px;
}

.about-me-background {
  background-color: var(--website-accent-2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.about-me-section {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 30vw, 50vw;
  place-items: center;
}

.about-me-section a {
  color: var(--website-theme) !important;
}

.about-me-text {
  max-width: 900px;
  min-width: 500px;
  padding: 0px 60px 0px 0px;
  text-align: left;
}

.square-image {
  max-height: 400px;
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  object-fit: cover;
  padding: 20px;
}

#hero-landscape {
  background-color: var(--website-accent);
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image {
  image-rendering: crisp-edges;
  width: 630px;
  height: 200px;
  object-fit: cover;
  margin-top: 30px;
}

/* Logos */
#logo-design-section {
  background-color: #57886c57;
  color: white;
  padding: 5vw 10vw 5vw;
  margin-top: 10vw;
}

#logo-display-section {
  margin-top: 3vw;
}

#logo-display-section a {
  color: white;
}

#logo-title {
  text-align: center;
}

.two-color-logo h3 {
  margin: 10px 0px 10px;
}

.two-color-logo ul {
  list-style-type: circle;
  font-size: 25px;
}

.logo-display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
}

.three-color-logo ul {
  list-style-type: circle;
  font-size: 25px;
}

.three-color-logo h3 {
  margin: 10px 0px 10px;
}

#handa-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: crisp-edges;
  image-resolution: 100%;
}

#bradley-logo {
  position: relative;
  margin-top: -30px;
  left: 15%;
  z-index: 1;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0px;
  border-radius: 50%;
  background-color: white;
  object-position: 0px 2px;
}

#bradley-logo:hover {
  cursor: pointer;
}

#bradley-logo-white:hover {
  cursor: pointer;
}

#bradley-logo-white {
  position: relative;
  left: 0;
  margin-top: -150px;
  z-index: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0px 2px;
  border-radius: 50%;
  background-color: black;
}

.backgrounds {
  width: 100%;
}

.loading {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0px 400px;
  margin-bottom: 200px;
}

/* Home */
.header-front-page {
  width: 100vw;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: clamp(30px, 4vw, 40px);
  padding: 2vw 5vw 0px;
  color: var(--website-accent-2);
}

/* Blog */
.back-button {
  position: absolute;
  font-size: 20px;
  color: var(--website-accent-2);
}

.back-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.post-thumbnail {
  width: 21vw;
  height: 21vw;
  padding: 2vw;
  object-fit: cover;
}

.photo-credit {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#no-posts {
  height: 20vw;
  margin-top: 60px;
}

.post-list-div {
  padding: 50px;
}

.post-list-div:hover {
  background-color: #57886c18;
}

.post-title {
  width: clamp(500px, 50vw, 700px);
}

#blog-posts-container {
  padding: 10vw;
  color: var(--website-accent-2);
}

#blog-posts-container a {
  color: var(--website-accent-2);
}

#individual-post {
  color: var(--website-accent-2);
  display: block;
}

.post-full-title {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 20px;
}

.post-full-content {
  padding: 50px;
  font-size: 25px;
}

.post-image-styling {
  float: left;
  margin: 20px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.post-content-text {
  text-align: justify;
  min-width: 500px;
}

#post-content {
  width: 100%;
  font-family: "DM Serif Display", serif;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Contact */
.cta-strip {
  background-color: var(--website-theme);
  width: 102.5vw;
  height: auto;
  padding: 10px 0 10px;
}

.insta-link a {
  color: var(--website-accent-2);
}

.insta-link a:hover {
  text-decoration: underline;
  color: var(--website-accent-2);
}

.contact-icon {
  margin-right: 10px;
  margin-top: 5px;
}

.radio-input {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.radio-input input[type="radio"] {
  accent-color: var(--website-theme);
  color-scheme: white;
  position: relative;
  top: 3px;
}

.radio-input input[type="radio"]:hover {
  cursor: pointer;
}

.radio-input label {
  margin-left: 5px;
}

.schedule-text {
  width: 30vw;
}

#error-message {
  color: red;
  padding-top: 10px;
}

#success-popup {
  position: fixed;
  background-color: var(--website-theme);
  top: 10vw;
  left: 30vw;
  text-align: center;
  width: 40vw;
  padding: 2vw;
  font-size: 1vw;
  color: white;
  box-shadow: 0px 3px 3px #1b291d42;
}

#success-popup button {
  margin-top: 20px;
  color: white;
}

.text-input {
  margin: 1vw;
  width: 30vw;
  background-color: white;
  color: var(--website-accent-2);
  border-radius: 3px;
  font-size: 20px;
}

.form-checkbox {
  margin: 0.5vw;
  margin-right: 8px;
  height: 17px;
  width: 17px;
  color-scheme: white;
  accent-color: var(--website-theme);
}

#submit-button {
  background-color: var(--website-accent-2);
  margin-top: 3vw;
  color: white;
  border-color: white;
}

#service-input {
  flex-direction: row;
  font-size: 20px;
  margin: 2vw 0px 2vw;
}

#service-input input {
  margin: 0.5vw;
  height: 17px;
  width: 17px;
  background-color: white;
}

#additional-info {
  height: 80px;
}
/* Misc. */
#website-plans {
  color: var(--website-accent);
  background-color: var(--website-accent-2);
  height: auto;
  width: 100vw;
  position: static;
  margin-top: 8%;
  padding: 10vw;
}

.flex-div {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered_div {
  width: 100%;
  margin: auto;
}

.plan-icon {
  width: 200px;
  margin: 30px;
}

.plan-div {
  padding-top: 5vw;
  display: block;
  text-align: center;
}

.plan-div ul {
  list-style-type: circle;
}

.plan-div p {
  font-size: 20px;
  text-align: left;
}

.plan-div li {
  font-size: 20px;
  text-align: left;
}

@media (max-width: 991px) {
  #nav {
    width: 15%;
    font-size: 25px;
    left: 85%;
  }

  .nav-item {
    padding: 0px !important;
  }

  .nav-link {
    color: white !important;
  }

  #navbarNavDropdown {
    width: 20px;
    overflow: hidden;
  }

  #hamburger-menu {
    overflow: hidden;
  }
}

@media (min-width: 950px) {
  #hamburger-dropdown {
    display: none;
  }
}

@media (max-width: 950px) {
  #navbar {
    display: none;
  }

  #nav-hamburger {
    display: block;
    position: absolute;
  }

  #hamburger-dropdown {
    top: 60px;
  }

  .plan-div {
    min-width: 70vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-input {
    width: 80vw;
  }

  .schedule-text {
    width: 80vw;
  }

  .logo-display-flex {
    margin: 80px;
  }

  .post-list-div {
    padding: 0px;
    margin-top: 7vw;
  }

  .post-list-div h1 {
    font-size: 30px;
  }

  .post-image-styling {
    float: none;
    width: 100%;
    margin: auto;
  }

  .post-content-text {
    min-width: 80vw;
  }

  .back-button {
    width: 100%;
    text-align: center;
    margin-top: -45px;
  }

  .cta-strip {
    padding: 50px 0 50px;
  }

  .thumbnail-container {
    min-width: 100vw;
    max-width: 100vw;
  }

  .post-thumbnail {
    width: 80vw;
    height: 80vw;
  }

  .post-title {
    width: 87vw !important;
    text-align: center;
    padding-left: 0px;
  }

  #bradley-logo-white {
    left: 20%;
    margin-top: -280px;
  }

  #bradley-logo {
    margin-top: -100px;
    left: -20px;
  }

  #footer {
    flex-direction: column;
    height: auto;
    padding: 40px 0px 40px;
  }

  .footer-columns {
    max-width: 100vw;
    min-width: 100vw;
  }

  #contact {
    margin-top: 20px;
  }

  .about-me-section {
    grid-template-columns: 100vw;
  }

  .about-me-text {
    padding: 0px 80px 20px;
  }

  #natalie-headshot {
    margin-top: 0px;
  }

  .about-me-background {
    padding-top: 90px;
    padding-bottom: 50px;
    height: auto;
  }

  #success-popup {
    width: 70vw;
    top: 35vw;
    left: 15vw;
    font-size: 10px;
    padding: 10vw;
  }

  #success-popup button {
    height: 40px;
    width: 70px;
    font-size: 20px;
    padding: 0px;
  }
}

@media (max-width: 560px) {
  #bradley-logo-white {
    left: 20%;
    margin-top: -200px;
    outline: none !important;
  }

  #bradley-logo {
    margin-top: -20px;
    left: -20px;
    outline: none !important;
  }
}
